@use "variables" as var;

/*------------------------------------- MOBILE FIRST ---------------------------------------*/

html {
    font-size: 14pt; /*1rem = 14pt;*/
}

body {
    margin: 0%;
    padding: 0%;
    font-family: serif, 'Times New Roman', Times;

}

/*-------- STARTPAGE --------*/

.container-startpage-background {
    height: 100vh;
    color: var.$primary;
}
.background-image-startpage {
    background-image: url(../assets/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* nav */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 100%, 10%);
    width: 100%;
    z-index: 3; /*So the content below slides underneath*/

    .menu { /*min ul*/
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        top: 50px;

        display: none;
        opacity: 0;
        transition: opacity 1s;

        font-size: 1em;
        padding-bottom: 1.5%;
        
    }

    .menu-icon {
        padding: 28px 20px;
        position: relative; /*Container for span (.nav-icon) which we want to position absolute.*/
        float: right;
        cursor: pointer;

        .nav-icon {
            background-color: var.$primary;
            display: block;
            height: 6px;
            width: 35px;
            border-radius: 15px;
            position: relative;
        }
        .nav-icon:before, .nav-icon:after {
            background-color: var.$primary;
            content: ""; /*This allows us to add the bars via css...*/
            display: block;
            height: 100%; /*So it is the same height as its original.*/
            width: 100%;
            border-radius: 15px;
            position: absolute;
            transition: transform 0.2s linear;
        }
        .nav-icon:before {
            top: 10px;
        }
        .nav-icon:after {
            top: -10px;
        }
    }

    .menu-btn {
        display: none;
    }
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; /*If anything flows out of bounds it will just be hidden.*/
    background-color: hsl(0, 0%, 100%, 10%);

    a {
        color: var.$primary; /*white anchor tags*/
        text-decoration: none;
        display: block; /*blocklevel elements på anchor tags nu, lättare att klicka på dem då.*/
        font-size: 1.2em;
    }
}

.header .menu-btn:checked ~.menu {/*for when the menu /checkbox is checked*/
    display: flex;
    opacity: 1;
    transition: opacity 1s;

}

.header .menu-btn:checked ~.menu-icon .nav-icon {
    background:transparent; /*Ta bort mitten-baren*/
    animation: blueblink 0.3s linear;
}

@keyframes blueblink {
    0% {
        background: aqua;
    }

    25% {
        background: transparent;

    }

    100% {
        background: transparent;

    }
}

.header .menu-btn:checked ~.menu-icon .nav-icon:before {
    top: 0; /*Lägg dem på samma rad så de bildar ett kryss tillsammans*/
    
    // animation: lowerbar 0.2s linear;
    transform: rotate(-135deg);

}

.header .menu-btn:checked ~.menu-icon .nav-icon:after {    
    top: 0; /*Lägg dem på samma rad så de bildar ett kryss tillsammans*/
    
    // animation: upperbar 0.2s linear;
    transform: rotate(135deg); 


}

// @keyframes lowerbar { /*.nav-icon:before*/
//     0% {
//         transform: rotate(0);

//     }
//     25% {
//         transform: rotate(-15deg);
//     }
//     50% {
//         transform: rotate(-25deg);

//     }
//     75% {
//         transform: rotate(-35deg);

//     }
//     100% {
//         transform: rotate(-45deg);
//     }
// }

// @keyframes upperbar { /*.nav-icon:after*/
//     0% {
//         transform: rotate(0);

//     }
//     25% {
//         transform: rotate(15deg);
//     }
//     50% {
//         transform: rotate(25deg);

//     }
//     75% {
//         transform: rotate(35deg);

//     }
//     100% {
//         transform: rotate(45deg);
//     }

// }


/*content*/

#home {
    position: relative;
}

#home article {
    display: flex;
    justify-content: center;

    div {
        position: absolute;
        height: 33%;
        top: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        p {
            font-size: 1.4em;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

/*icon*/

#icon-white a {
    position: absolute;
    bottom: 4%;

    display: flex;
    justify-content: center;
    width: 100%;

    svg {
        width: 7%;
    }
}

/*-------- ABOUT --------*/

.background-about {
    background-color: var.$primary;
}

#about {
    position: relative;

    h1 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
        padding: 2%;
        margin-top: 3%;
        letter-spacing: 0.05rem;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        .person-box {
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3%;
            margin-bottom: 5%;

            h3 {
                text-align: center;
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .profile-pic-box {
                width: 75%;
                img {
                    width: 100%;
                    border-radius: 50%;
                    margin: 3%;
                    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25), 0 2px 20px 0 rgba(0, 0, 0, 0.25);
                }
            }
            
            .persontext {
                background-color: lightgrey;
                border-radius: 10px;
                padding: 10%;
                margin: 5%;

                .quote {
                    display: flex;

                    svg {
                        rotate: 180deg;
                    }
                    span {
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

#icon-black a {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    width: 100%;

    svg {
        width: 7%;
        margin-bottom: 6%;
    }
}

/*------- CONTACT -------- */

.social-media-icon {
    padding: 3px;
    width: 10%;
    margin-right: 10px;
}


.background-contact {
    background-color: black;
    color: var.$primary;
    padding-top: 5%;
    line-height: normal;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 30px;
}
.textbox-contacts {
    width: auto; 
    text-align: left;
    font-size: 1.3em;
    letter-spacing: 1px;

}

/*--------------------------------------- DESKTOP ----------------------------------------*/

@media screen and (min-width:768px) {

    /*-------- STARTPAGE --------*/

    /* nav */

    .header {
        position: absolute;
        .menu {
            top: 0;
            display: block;
            opacity: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-top: 1.5%;
            padding-bottom: 1.5%;
            padding-right: 3%;
            font-size: 0.9em;
            gap: 3%;

            li {
                list-style: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0); /*Syns inte här*/
                transition: border 0.2s; 
                /*Här är alltså vår transitionregel som gör så att vår transition ska ske. För att slutföra den (den är dold nu - kolla opacity på rbga) - måste vi skriva följande selektor o regel (se nästa nedan)*/
    

                a {
                    color: var.$primary;
                    text-decoration: none;

                }
                a:hover {
                    color: var.$primary;
                }
            }
            li:hover {
                border-bottom: 1px solid rgb(255, 255, 255, 1); /*Nu syns den*/
            }
        

        }

        .menu-icon {
            display: none;
        }
    }

    /*content*/


    #home article div {
        width: 100%;
        position: absolute;
        height: 20%;
        top: 41%;

        h1 {
            font-size: 1.3em;
            font-weight: bold;
        }

        p {
            font-size: 1em;
        }
    }


    /*icon*/
    #icon-white a {
        svg {
        width: 2%;
        }
    }

    /*-------- ABOUT --------*/

    .background-about h1 {
        font-size: 1.3em;
        font-weight: bold;
    }

    #about article {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        flex-wrap: wrap;
        .person-box {
            width: 40%; 
            margin-bottom: 5%;

            .persontext .quote {
                img {
                width: 2vw;
                height: 4vh;
                }

                span {
                    font-size: 0.7em;
                    line-height: 0.5;

                }
            }
        }
    }

    /*icon*/
    #icon-black a {
        svg {
        width: 2%;
        margin-bottom: 0;
        }
    }

    /*-------- CONTACT --------*/

    .background-contact {
        height: 30vh;
        padding-bottom: 20%;
    }

    .container-contacts {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }
    .textbox-contacts {
        font-size: 1em;
        width: 33%;
    }
}

/*--------------------------------------- THE END ----------------------------------------*/
