@use "mixins";

/*------------------------------------- MOBILE FIRST ---------------------------------------*/

html {
    font-size: 14pt; /*1rem = 14pt;*/
}

body {
    margin: 0%;
    padding: 0%;
    font-family: serif, 'Times New Roman', Times;

}

/*-------- STARTPAGE --------*/

.container-startpage-background {
    height: 100vh;
    color: white;
}
.background-image-startpage {
    background-image: url(../assets/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* nav */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 100%, 10%);
    width: 100%;
    z-index: 3; /*So the content below slides underneath*/

    .menu { /*min ul*/
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        top: 50px;

        display: none;
        opacity: 0;
        transition: opacity 1s;
    }

    .menu-icon {
        padding: 28px 20px;
        position: relative; /*Container for span (.nav-icon) which we want to position absolute.*/
        float: right;
        cursor: pointer;

        .nav-icon {
            background: white;
            display: block;
            height: 2px;
            width: 18px;
            position: relative;
            transition:background 0.2s ease-out; /*For the bars rotation...*/
        }
        .nav-icon:before, .nav-icon:after {
            background: white;
            content: ""; /*This allows us to add the bars via css...*/
            display: block;
            height: 100%; /*So it is the same height as its original.*/
            width: 100%;
            position: absolute;
            top: 5px;
            transition:background 0.2s ease-out;
        }
        .nav-icon:before {
            top: 5px;
        }
        .nav-icon:after {
            top: -5px;
        }
    }

    .menu-btn {
        display: none;
    }
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; /*If anything flows out of bounds it will just be hidden.*/
    background-color: hsl(0, 0%, 100%, 10%);

    a {
        color: white; /*white anchor tags*/
        text-decoration: none;
        display: block; /*blocklevel elements på anchor tags nu, lättare att klicka på dem då.*/
        padding: 20px;
        // border-right: 1px solid#aaa;
    }
}

.header .menu-btn:checked ~.menu {/*for when the menu /checkbox is checked*/
    // max-height: 240px; /*Now our menu expands*/
    display: flex;
    opacity: 1;
    transition: opacity 1s;

}

.header .menu-btn:checked ~.menu-icon .nav-icon {
    background:transparent; /*Ta bort mitten-baren*/
}

.header .menu-btn:checked ~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0; /*Lägg dem på samma rad så de bildar ett kryss tillsammans*/
}

.header .menu-btn:checked ~.menu-icon .nav-icon:after {
    transform: rotate(45deg); /*Lägg dem på samma rad så de bildar ett kryss tillsammans*/
    top: 0;

}

/*content*/

#home {
    position: relative;
}

#home article {
    display: flex;
    justify-content: center;

    div {
        position: absolute;
        height: 33%;
        top: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        p {
            font-size: 1.4em;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

/*icon*/

#icon-white a {
    position: absolute;
    bottom: 4%;

    display: flex;
    justify-content: center;
    width: 100%;

    svg {
        width: 7%;
    }
}

/*-------- ABOUT --------*/

.background-about {
    background-color: white;
    // height: 259vh;
}

#about {
    position: relative;

    h1 {
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        padding: 4%;
        letter-spacing: 2px;
        margin: 5%;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        .person-box {
            /*background-color: pink;*/
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3%;

            h3 {
                text-align: center;
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .profile-pic-box {
                width: 75%;
                img {
                    width: 100%;
                    border-radius: 50%;
                    margin: 3%;
                    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25), 0 2px 20px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .persontext {
                background-color: lightgrey;
                border-radius: 10px;
                padding: 10%;
                margin: 5%;
                // display: flex;
                // flex-direction: row;

                .quote {
                    display: flex;
                    img {
                        display: inline;
                        width: 9vw;
                        height: 5vh;
                    }
                    // font-family: Space Grotesk;
                    // font-size: 6em;
                    span {
                        line-height: normal;
                    }
                }
            }
        }
    }
}

#icon-black a {
    position: absolute;
    bottom: 2%;

    display: flex;
    justify-content: center;
    width: 100%;

    svg {
        width: 7%;
    }
}

/*------- CONTACT -------- */

.social-media-icon {
    padding: 3px;
    width: 10%;
}

.background-contact {
    background-color: black;
    height: 66vh;
    color: white;
    padding-top: 5%;
    line-height: normal;
}

.container-contacts {
    // height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 30px;
}
.textbox-contacts {
    width: auto; /* obs! Håll koll på när ändrar textstrl */
    text-align: left;
    font-size: 1.3em;
    letter-spacing: 1px;

}

/*--------------------------------------- DESKTOP ----------------------------------------*/

@media screen and (min-width:768px) {

    /*-------- STARTPAGE --------*/

    /* nav */

    .header {
        position: absolute;
        .menu {
            top: 0;
            display: block;
            opacity: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // padding-top: 1.5%;
            // padding-bottom: 1.5%;
            // padding-right: 3%;
            // font-size: 1em;
            // gap: 3%;

            li {
                list-style: none;
                a {
                    color: white;
                    text-decoration: none;

                }
                a:hover {
                    color: white;
                }
            }

        }

        .menu-icon {
            display: none;
        }
    }

    /*content*/


    #home article div {
        width: 100%;
        position: absolute;
        height: 20%;
        top: 41%;
        // text-align: center;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        h1 {
            font-size: 1.3em;
            font-weight: bold;
        }

        p {
            font-size: 1em;
            // padding-left: 10%;
            // padding-right: 10%;
        }
    }


    /*icon*/
    #icon-white a {
        svg {
        width: 2%;
        }
    }

    /*-------- ABOUT --------*/

    // .background-about {
    //     height: 180vh;
    // }

    .background-about h1 {
        font-size: 1.3em;
        font-weight: bold;
    }

    #about article {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        justify-content: space-around; /*space-evenly ?*/
        flex-wrap: wrap;
        .person-box {
            width: 40%; /* Ändra ? */
            .persontext .quote {
                img {
                width: 2vw;
                height: 4vh;
                }

                span {
                    font-size: 0.7em;
                }
            }
        }
    }

    /*icon*/
    #icon-black a {
        svg {
        width: 2%;
        }
    }

    /*-------- CONTACT --------*/
    .social-media-icon {
        padding: 3px;
        width: 10%;
    }
    .background-contact {
        height: 30vh;
        padding-bottom: 20%;
    }

    .container-contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
    }
    .textbox-contacts {
        font-size: 1em;
        width: 33%;
        // height: 80%;
    }
}

/*--------------------------------------- THE END ----------------------------------------*/
